.mb {
  border-style: dashed; border-width: 5px;
  padding: 5px;
  margin: 5px;
  border-color: black;
  color:black;
  background-color: white;
}


.mb-active {
  border-color: black;
  color:black;
  background-color: white;
  border-style: solid; border-width: 10px;
  padding: 5px;
  margin: 5px;
}

.mb-footer{
  margin: 0px;
  background-color: rgba(0,0,0,.5);
}
